.nav {
  display: flex;
  justify-content: space-between;
}

.nav__title {
  font-family: "Lobster", Arial, sans-serif;
  font-size: 40px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
}
