.products__title {
  text-align: center;
  font-family: "Lobster", sans-serif;
}

.products__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

.products__image {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.products__content {
  font-family: "Lobster", sans-serif;
  display: flex;
  justify-content: space-between;
}
